.u-section-1 .u-sheet-1 {
  min-height: 481px;
}

.u-section-1 .u-text-1 {
  margin: 44px auto 0;
}

.u-section-1 .u-btn-1 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 35px auto 0;
  padding: 8px 33px;
}

.u-section-1 .u-btn-2 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 20px auto 0;
  padding: 8px 38px;
}

.u-section-1 .u-btn-3 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 20px auto 0;
  padding: 8px 33px;
}

.u-section-1 .u-btn-4 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 20px auto 0;
  padding: 8px 34px 8px 33px;
}

.u-section-1 .u-btn-5 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 20px auto 60px;
  padding: 8px 33px;
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-top: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-3 {
    --radius: 8px;
    margin-left: 0;
    margin-right: 0;
    padding-right: 12px;
    padding-left: 11px;
  }
}