.u-section-1 .u-sheet-1 {
  min-height: 623px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  width: 563px;
  height: 95px;
  margin: 11px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 30px auto 0;
}

.u-section-1 .u-image-2 {
  width: 284px;
  height: 166px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 30px auto 0;
}

.u-section-1 .u-image-3 {
  width: 284px;
  height: 165px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-5 {
  margin: 30px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 91px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 57px;
  }
}